@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Signika+Negative:wght@600&display=swap");
.currencyApp {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.currency_wrapper {
  background-color: rgba(237, 242, 247, 0.836);
  box-shadow: 18px 25px 75px -40px rgba(0, 23, 135, 0.42);
  border-radius: 1rem;
  width: 30%;
}
.labelSection {
  display: flex;
  justify-content: center;
  align-items: center;
}
#swapButton {
  color: #090909;
  width: 4rem;
  border: none;
  border-radius: 1rem;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  transition: all 0.3s;
}
#swapButton:hover {
  font-size: 28px;
  border: 1px solid rgb(125, 212, 163);
  background-color: rgb(125, 212, 163);
  color: #fff;
}

#swapButton:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

#convertButton,
#resetButton {
  font-size: 20px;
  width: 10rem;
  color: #090909;
  padding: 0em 1em;
  margin-top: 4px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 0.5em;
  background: #f1f0f0;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

#convertButton:hover,
#resetButton:hover {
  border: 1px solid rgb(125, 212, 163);
  background-color: rgb(125, 212, 163);
  color: #fff;
}

#convertButton:active,
#resetButton:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}
#redoButton {
  font-size: 14px;
}
#redoButton:hover {
  font-size: 14px;
  color: #2c217d;
}

.result {
  font-size: 22px;
  font-weight: 400;
  color: #03570a;
}

@media only screen and (max-width: 480px) {
  #currLabels {
    font-size: 28px !important;
  }
  #currSelect {
    margin-top: 8px;
    font-size: 16px;
    height: 3rem !important;
  }
  .currencyApp {
    margin-top: -1rem !important;
    display: flex;
    justify-content: center;
    width: 100vw !important;
    height: 90vh !important;
  }
  .currency_wrapper {
    background-color: rgba(237, 242, 247, 0.836);
    box-shadow: 18px 25px 75px -40px rgba(0, 23, 135, 0.42);
    border-radius: 1rem;
    width: 90vw;
  }
  #currencyInputArea {
    font-size: 22px !important;
    width: 50vw !important;
    height: 3rem !important;
  }
  .labelSection {
    margin-top: 1rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #swapButton {
    color: #090909;
    width: 5rem;
    border: none;
    border-radius: 1rem;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    transition: all 0.3s;
  }
  #swapButton:hover {
    font-size: 28px;
    border: 1px solid rgb(125, 212, 163);
    background-color: rgb(125, 212, 163);
    color: #fff;
  }
  #swapButton:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
  }

  #convertButton,
  #resetButton {
    font-size: 23px;
    width: 10rem;
    height: 3.5rem;
    color: #090909;
    padding: 0em 1em;
    margin-top: 1.5rem;
    letter-spacing: 1px;
    border-radius: 0.5em;
    background: #f1f0f0;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }

  #convertButton:hover,
  #resetButton:hover {
    border: 1px solid rgb(125, 212, 163);
    background-color: rgb(125, 212, 163);
    color: #fff;
  }

  #convertButton:active,
  #resetButton:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
  }
  #redoButton {
    font-size: 14px;
  }
  #redoButton:hover {
    font-size: 14px;
    color: #2c217d;
  }

  .result {
    font-size: 28px;
    font-weight: 400;
    color: #03570a;
  }
  .rate {
    font-size: 18px;
  }
}
