/* From uiverse.io by @alexruix */
/* From uiverse.io by @alexruix */
#contactInputs {
  line-height: 22px;
  border: 1px solid transparent;
  border-bottom-color: #777;
  padding: 0.2rem 0;
  outline: none;
  background-color: transparent;
  color: #0c1533;
  transition: 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#contactInputs:focus,
#contactInputs:hover {
  outline: none;
  padding: 0.2rem 0.8rem;
  border-radius: 1rem;
  border-color: #03712d;
}

#contactInputs::placeholder {
  color: rgb(160, 159, 159);
}

#contactInputs:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}
