.pressureApp {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.pressure_c {
  display: flex;
}
.pressure-calc-button {
  margin-bottom: 1rem;
  margin-left: 1rem;
}
#basic-addon5 {
  width: 4rem;
}
.pressure_c_c {
  margin-left: 2rem;
  margin-right: 2rem;
}
.form-control {
  width: 10rem !important;
}
@media only screen and (max-width: 480px) {
  .pressureApp {
    width: auto;
    display: flex;
    justify-content: center;
  }
  .pressure_r {
    display: grid !important;
  }
  .pressure_c {
    display: grid;
    margin-bottom: 2rem !important;
  }
  .pressure-calc-button {
    margin-top: -0.5rem;
    margin-left: 0rem;
  }
  #basic-addon5 {
    font-size: 16px;
    width: 4rem;
  }
  .pressure_c_c {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .form-control {
    width: 8rem !important;
  }
  .percentageInputs {
    width: 4rem;
  }
  .res {
    display: none;
  }
}
