.area-container-temp {
  display: grid !important;
  width: auto !important;
  height: 40vh !important;
  align-items: center !important;
  background-color: rgb(232, 236, 233);
  box-shadow: 10px 10px 10px rgb(1, 1, 1, 0.1) !important;
  border-radius: 10px;
}
@media only screen and (max-width: 480px) {
  .temp-outer {
    display: grid !important;
    justify-content: center !important;
  }
  .area-container-temp {
    display: grid !important;
    width: auto !important;
    height: 40vh !important;
    align-items: center !important;
    background-color: rgb(232, 236, 233);
    box-shadow: 10px 10px 10px rgb(1, 1, 1, 0.1) !important;
    border-radius: 10px;
  }
}
